
@font-face {
	font-family: 'Conv_HelveticaBold';
	src: url('../uc-fonts/HelveticaBold.eot');
	src: local('☺'), url('../uc-fonts/HelveticaBold.woff') format('woff'), url('../uc-fonts/HelveticaBold.ttf') format('truetype'), url('../uc-fonts/HelveticaBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}	
body { background: url(../uc-images/bg.jpg) repeat-x #e3e3e3; margin:0; padding:0;}
img{border:0;}
#main{ margin:0 auto;}
.layout-wrapper{width:880px; margin:120px auto;}
.top-bg{width:100%; height:306px; float:left;
background: #fff;
}
.logo{float:left; width:100%; text-align:center; margin:93px 0 0px 0;}
.logo-tag{float:left; width:100%; text-align:center;}

.bottom-bg{width:92%; height:62px; float:left; margin-left:32px; border:3px solid #FFF; border-top:none; 
-webkit-box-shadow: 4px 4px 4px #bebebe;
	-moz-box-shadow: 4px 4px 4px #bebebe;
		box-shadow: 4px 4px 4px #bebebe;

background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
.under-maintenance{font-family: 'Conv_HelveticaBold'; font-size:36px; color:#000; float:left; width:100%; text-align:center; padding-top:6px;}

.shadow{width:100%; float:left; text-align:center; margin-top:15px;}